#app-container {
  font-family: "Helvetica Neue";
  font-size: 0.75em;
}

div {
  display:inline-block;
  column-width: 25%;
}

ul {
  list-style: none;
  line-height: 1.25em;
}

.black-header {
  color: #fff;
  background-color: #004;
}

.byline {
  font-size: 0.75em;
  color: #A9A9A9;
}

.link {
  color: #DE5233;
}
